@import "bourbon/bourbon";

//text-colors
$a-desktop-base-color: #333 !default; // black
$a-mobile-base-color: #111 !default; // black on small screen, higher contrast
$a-desktop-secondary-color: #888 !default; // gray
$a-mobile-secondary-color: #666 !default; // gray on small screen
$a-desktop-tertiary-color: #767676 !default; // Lighter Grey
$a-mobile-tertiary-color: #999 !default; // lighter Grey on small screen
$a-state-color: #C45500 !default; // orange
$a-price-color: #B12704 !default; // red
$a-link-color: #0066C0 !default; // blue

//alert-colors
$a-error-color: #d00 !default; // red
$a-success-color: #008A00 !default; // green
$a-info-color: #BBD3DE !default; // blueish
$a-warning-color: #ffd63f !default; // yellow-orangeish

//structural-colors
$a-border-color: #ddd !default; // light gray border
$a-border-color-variant: #e7e7e7 !default; // even lighter gray border
$a-thumb-border: #e0e0e0 !default;
$a-alternate-background-color: #f3f3f3 !default; // light gray bg
$a-offset-background-color: lighten($a-alternate-background-color, 1%) !default; // even lighter gray bg
$a-base-background-color: #fff !default; // White bg
$a-nav-gradient-end: #eee !default;

//desktop-text-size
$a-desktop-size-mini: 11px;
$a-desktop-size-small: 12px;
$a-desktop-size-base: 13px;
$a-desktop-size-medium: 17px;
$a-desktop-size-large: 21px;
$a-desktop-size-extra-large: 28px;

//desktop-spacing
$a-desktop-spacing-micro: 4px;
$a-desktop-spacing-mini: 6px;
$a-desktop-spacing-small: 10px;
$a-desktop-spacing-base: 14px;
$a-desktop-spacing-medium: 18px;
$a-desktop-spacing-large: 22px;
$a-desktop-spacing-extra-large: 26px;
$a-desktop-spacing-double-large: 44px;

//mobile-spacing
$a-mobile-spacing-micro: .4rem;
$a-mobile-spacing-mini: .5rem;
$a-mobile-spacing-small: .9rem;
$a-mobile-spacing-base: 1.3rem;
$a-mobile-spacing-medium: 1.7rem;
$a-mobile-spacing-large: 2.1rem;
$a-mobile-spacing-extra-large: 2.5rem;
$a-mobile-spacing-double-large: 4.2rem;


body {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
}

a {
  text-decoration: none;
}

/* Grid Stuff */
.grid {
  width: 80%;
  margin: 0 auto;
}

/* List Item Stuff */
.list__item__image {
  @include box-sizing(border-box);
  padding: 4px;
  border: 1px solid #eee;
  width: 100%;
  float: left;
}

.list__item__description {
}

.list__item {
  clear: both;
  overflow: hidden;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #eee;
}

.list__item__header {
  font-size: 18px;
  font-weight: bold;
  color: #2790ae;
}

.list__item__date {
  display: block;
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 12px;
  color: #999;
}

.list__item__container {
  width: 662px;
}

.list__item--hover:hover .list__item__image {
  background: #eee;
}

.list__item--hover:hover .list__item__header {
  color: #333;
}

/* Linking Button */
.button {
  display: inline-block;
  height: 29px;
  width: 115px;
  text-align: center;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  @include background(linear-gradient(to bottom, #f7dfa5, #f0c14b));
}

.button:hover {
  @include background(linear-gradient(to bottom, #f0c14b, #f7dfa5));
}

.button:focus {
  border-color: #e77600;
  box-shadow: 0 0 3px rgba(228,121,17,0.5);
}

.button__text {
  display: block;
  padding-left: 11px;
  padding-right: 10px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #111;
  line-height: 29px;
  text-align: center;
  cursor: pointer;
}

/* Toggle Button */
.toggle--button {
  display: inline-block;
  height: 29px;
  text-align: center;
  background: #fff;
  border: 1px solid;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-radius: 3px;
}

.toggle--button:hover {
  @include background(#e7e9ec);
}

.toggle--button:focus {
  border-color: #e77600;
  box-shadow: 0 0 3px rgba(228,121,17,0.5);
}

.toggle--button__text {
  display: block;
  cursor: pointer;
  padding-left: 11px;
  padding-right: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 29px;
  color: #111;
}

.input__text__container {
  margin-left: 12%;
  padding-top: 15px;
}

.input__text {
  padding-bottom: 3px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

input:focus {
  outline: none;
  border-color: #e77600;
  box-shadow: 0 0 3px rgba(228,121,17,0.5);
}

input {
  height: 31px;
  padding: 3px 7px;
  border: 1px solid;
  @ include border-color(#adb1b8 #a2a6ac #8d9096);
}

/* Prime Logo */
.prime-logo__sprite {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: baseline;
  height: 16px;
  margin-top: 10px;
  background-image: url('../images/prime-logo-sprite.png');
  background-repeat: no-repeat;
  background-size: 400px 650px;
  background-position: -5px -489px;
}

.prime-logo__image {
  padding-top: 10px;
  padding-left: 20px;
}

/* Review Stars */
.reviews {
  clear: both;
  overflow: hidden;
  margin-top: 20000px;
}

.reviews__container {
  vertical-align: middle;
}

.reviews__stars {
  display: inline-block;
  width: 80px;
  height: 18px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-left: 12%;
  background-position: -175px -368px;
  background-image: url(../images/prime-logo-sprite.png);
  background-repeat: no-repeat;
  background-size: 400px 650px;
}

.reviews__star__number {
  display: inline-block;
}

a.reviews__star__number:active {
  box-sizing: border-box;
  color: #0066c0;
  font-size: 13px;
  line-height: 18px;
}

a.reviews__star__number:visited {
  color: #0066c0;
}